body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  margin-bottom: 60px;
}

.text-center {
  text-align: center;
}

.select {
  height: 45px;
  border: 1px solid #DDDDDD;
  width: 100%;
  cursor: pointer;
  margin: 5px 0;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  @media (min-width: 992px) {
    width: 42%;
  }

  &.error {
    .select {
      border-color: red;
    }

    .input-feedback {
      color: #dc3545;
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.btn-create {
  height: 45px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #666666;
  margin: 5px 0;
  @media (min-width: 992px) {
    max-width: 20%;
    min-width: 100px;
    border-radius: 0 5px 5px 0;
  }
}

.list-answer {
  display: flex;
  flex-wrap: wrap;
}

.btn-answer {
  min-height: 35px;
  border-radius: 5px;
  border: 1px solid #198754;
  background: transparent;
  padding: 0 10px;
  color: #198754;
  cursor: pointer;
  transition: all .3s;
  margin: 5px 0;
  &:not(:last-child) {
    margin-right: 8px;
  }

  &:hover,
  &.select-item,
  &.success {
    color: #FFFFFF;
    background: #198754;
    transition: all .3s;
  }

  &.danger {
    color: #FFFFFF;
    background: red;
    transition: all .3s;    
  }
}

.submit-action {
  margin: 40px auto 50px auto;

  button {
    width: 75%;
    margin: 0 auto;
    display: block;
    height: 35px;
    background: gray;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }
}

.bg-warning {
  background-color: yellow;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-success {
  background-color: Green;
}

.result-message {
  color: #FFFFFF;
  padding: 5px 10px;
}

.bg-warning,
.bg-danger,
.bg-success {
  max-width: 60%;
  margin: 45px auto 0;
}

.question-item {
  p {
    margin-bottom: 8px;
  }
}